

<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light full-width">
      <a class="navbar-brand" href="#"><img src="../assets/imagesdist/weatherPadi.PNG"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="file:///C:/jcodes/dev/frontEndDev/index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="file:///C:/jcodes/dev/frontEndDev/cities.html">Add cities</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>



<!--<div class="container headerstyle">
  <h2>Weather Padi </h2>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light center ">


</nav>-->
