<!-- Footer -->
<footer class="page-footer font-small blue pt-4 center quarter-width" >

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!--&lt;!&ndash; Grid column &ndash;&gt;-->
     <!--< <div class="col-md-6 mt-md-0 mt-3">-->

        <!--&lt;!&ndash; Content &ndash;&gt;-->
        <!--<h5 class="text-uppercase">Footer Content</h5>-->
        <!--<p>Here you can use rows and columns here to organize your footer content.</p>-->

      <!--</div>-->
      <!--&lt;!&ndash; Grid column &ndash;&gt;-->

      <!--<hr class="clearfix w-100 d-md-none pb-3">-->

      <!--&lt;!&ndash; Grid column &ndash;&gt;-->


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div  class = "center">© 2018 Copyright:
    <a href="https://byteworks.com.ng"> Byteworks</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
