
form  {
  width:20%;
}

h2  {
  color: #217397;
}

.btn  {
  width: 200px;

}

.buttonWrapper  {
  text-align: center;

}

.font-small {
  font-size: small;
}


.textCenter  {
  text-align: center;
}



